<% layout('/layouts/default.html', {title: '学生信息管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('学生信息管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('student:student:edit')){ %>
					<a href="${ctx}/student/student/form" class="btn btn-default btnTool" title="${text('新增学生信息')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${student}" action="${ctx}/student/student/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">学生姓名：</label>
					<div class="control-inline">
						<#form:input path="studentName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">家长姓名：</label>
					<div class="control-inline">
						<#form:input path="parentsName" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">就读学校：</label>
					<div class="control-inline">
						<#form:input path="studentSchool" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">年龄：</label>
					<div class="control-inline">
						<#form:input path="age" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'学生姓名', name:'studentName', index:'a.student_name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/student/student/form?id='+row.id+'" class="btnList" data-title="${text('编辑学生信息')}">'+(val||row.id)+'</a>';
		}},
		{header:'学生电话', name:'studentPhone', index:'a.student_phone', width:150, align:"left"},
		{header:'家长姓名', name:'parentsName', index:'a.parents_name', width:150, align:"left"},
		{header:'家长电话', name:'parentsPhone', index:'a.parents_phone', width:150, align:"left"},
		{header:'就读学校', name:'studentSchool', index:'a.student_school', width:150, align:"left"},
		{header:'年龄', name:'age', index:'a.age', width:150, align:"left"},
		{header:'学期开始时间', name:'startdate', index:'a.startdate', width:150, align:"center"},
		{header:'学期结束时间', name:'enddate', index:'a.enddate', width:150, align:"center"},
		{header:'学费', name:'schooling', index:'a.schooling', width:150, align:"right", formatter: function(val, obj, row, act){
			return js.formatNumber(val, 2, false, ''); // 数值类型格式化 (原始数值, 小数位数, 是否千分位, 默认值，金额情况下设置0.00);
		}},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('student:student:edit')){ %>
				actions.push('<a href="${ctx}/student/student/form?id='+row.id+'" class="btnList" title="${text('编辑学生信息')}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/student/student/delete?id='+row.id+'" class="btnList" title="${text('删除学生信息')}" data-confirm="${text('确认要删除该学生信息吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/student/student/sendMsg?id='+row.id+'" class="btnList" title="${text('发信息')}" data-confirm="${text('确定要发送催费信息吗？')}"><i class="fa icon-envelope-letter"></i></a>&nbsp;')
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>